@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,100;1,200;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding: 20px 30px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
}

.question{
    font-size: 2.5rem;
    height: auto;
    width: 100%;
    color: rgb(95, 52, 52);
}

.answer{
    height: auto;
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
    margin: 10px 0 0;
    color: rgb(95, 52, 52);
}

.btnGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width:600px){
    .question{
        font-size: 1.2rem;
        font-weight: 800;
    }

    .answer{
        font-size: 1.0rem;
        font-weight: 500;
        margin-bottom: 0.7rem;
    }

    .btnGroup{
        display: flex;
        flex-direction: column;

    }
}

/* .question h4{
    font-size: 1rem;
} */





.finishedQuestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finishedQuestions h2{
    font-size: 2.6rem;
    text-transform: uppercase;
    margin-top: 1rem;
    color: rgb(95, 52, 52);
}

.finishedQuestionsImage{
    background-image: url("../images/meme.JPG");
    background-size: cover;
    background-position: center center;
    /* background: url("../images/meme.JPG"); */
    z-index: 1000;
    height: 76vh;
    width: 100%;
}

.finishedQuestions p{
    opacity: 0;
}

