:root{
    --primary-color:  rgba(136, 55, 243, 0.7);
    --secondary-color: rgba(7, 18, 75, 0.76);
 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;    
    
}

.timer{
    height: 15vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.question{
    height: 85vh;
    background-color: antiquewhite;
}

.next{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.startAgain{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: antiquewhite;
}

.blankContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: antiquewhite;
}

.blank{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    vertical-align: middle;
    color:rgb(95, 52, 52);
    text-transform: uppercase;
    
}

.blank h3{
    font-size: 1.7rem;
}

/* .next p{
    display: inline-block;
    padding: 0 0 0 15px;
    font-size: 1.4rem;
    color: brown;
} */

@media screen and (max-width: 600px){
    .next{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
}

